body {
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}


/*Common Classes*/

.primary-text {
    color: #56a79a;
}

.primary-background {
    background-color: #56a79a;
}


/*Header*/

#main-header {
    border-bottom: 1px solid #56a79a;
}